@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Mono+One&display=swap");
.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* or 500, 700 depending on the variant */
  font-style: normal;
}

:root {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #332c2b;
  background-color: #f6f6f6;

  /* font-synthesis: none;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-family: "Rubik Mono One", sans-serif;
  color: #332c2b;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family: "Rubik", sans-serif;
}

/* === MAYBE USEFUL === */

body {
  box-sizing: border-box;
  margin: 0;
}
